<div class="tool-card col-1-1">
  <div class="tool-info xs-col-1-1">
    <%= link_to tool.name, resource_path(tool), class: 'x-title' %>
    <p class="x-description"><%= tool.description.truncate(250) %></p>

    <div class="tool-associations">
      <% tool.languages.each do |language| %>
        <span class="x-tag"><%= language.name %></span>
      <% end %>

      <% tool.categories.each do |category| %>
        <span class="x-tag"><%= category.name %></span>
      <% end %>
    </div>
  </div>

  <div class="tool-links">
    <% if tool.website.presence %>
      <%= link_to "#{tool.website}", target: '_blank' do %>
        <%= fa_icon 'external-link' %>
        <span>WEBSITE</span>
      <% end %>
    <% end %>

    <% if tool.github.presence %>
      <%= link_to "#{tool.github}", target: '_blank' do %>
        <%= fa_icon 'github' %>
        <span>GITHUB</span>
      <% end %>
    <% end %>
  </div>
</div>
