<% # FIXME | = f.collection_check_boxes :tag_ids, @tags, :id, :name %>

<%= form_with(model: article, local: true, class: 'form') do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="field-label">
      <%= form.label :name %>
    </div>
    <div class="field-input">
      <%= form.text_field :name, placeholder: 'Article Name' %>
    </div>
  </div>

  <% if action_name == 'edit' %>
    <div class="field">
      <div class="field-label">
        <%= form.label :slug %>
      </div>
      <div class="field-input">
        <%= form.text_field :slug, placeholder: 'Article Slug' %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <div class="field-label">
      <%= form.label :description %>
    </div>
    <div class="field-input">
      <%= form.text_field :description, placeholder: 'Article Description' %>
    </div>
  </div>

  <div class="field">
    <div class="field-label">
      <%= form.label :tags %>
    </div>
    <div class="field-input">
      <% @tags.each do |tag| %>
        <div class="field-checkbox">
          <% if @article.tags.include?(tag) %>
            <input type="checkbox" name="article[tag_ids][]" value="<%= tag.id %>" checked="checked"/>
          <% else %>
            <input type="checkbox" name="article[tag_ids][]" value="<%= tag.id %>"/>
          <% end %>
          <span><%= tag.name %></span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <div class="field-label">
      <%= form.label :cover_image %>
    </div>
    <div class="field-input">
      <%= form.file_field :cover_image %>
      <% if @article.cover_image.attached? %>
        <p class="col-1-1">Current Image</p>
        <%= image_tag @article.cover_image %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <div class="field-label">
      <%= form.label :body %>
    </div>
    <div class="field-input">
      <%= form.text_area :body %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit('Submit', data: { "disable-with": "Saving..." }) %>
  </div>
<% end %>
