<div id="<%= controller_name %>-<%= action_name %>">
  <div class="container">
    <div id="articles-list">

      <div id="particles">
        <div class="center">
          <h1>S Y N T V X</h1>
          <%= image_tag 'http://assets.syntvx.com/logo/logo-2x.png', alt: 'SYNTVX Logo' %>
          <h2>B L O G</h2>
        </div>
      </div>

      <h2 class="tag-title col-1-1">TAGS</h2>
      <div id="articles-tags" class="col-1-1">
        <% @tags.each do |tag| %>
          <% if @tag.presence && @tag == tag %>
            <%= link_to "##{tag.name}", blog_path, class: 'active' %>
          <% else %>
            <%= link_to "##{tag.name}", blog_tag_path(tag) %>
          <% end %>
        <% end %>
      </div>

      <%= render partial: 'articles/article', collection: @articles, cached: true %>

      <%= will_paginate @articles %>
    </div>
  </div>
</div>

<script>
  particles();
</script>
