<div id="<%= controller_name %>-<%= action_name %>" class="content-width">
  <div class="container">
    <div id="article-title" class="col-1-1">
      <h1><%= @article.name %></h1>
      <div class="article-info">
        <div class="article-tags xl-col-4-5 lg-col-4-5 md-col-2-3 sm-col-2-3 xs-col-1-2">
          <% @article.tags.each do |tag| %>
            <span class="x-tag">#<%= tag.name %></span>
          <% end %>
        </div>
        <p class="x-published"><%= @article.published_date %></p>
      </div>
    </div>

    <div id="article-cover-image" class="col-1-1">
      <%= image_tag @article.cover_image, alt: "#{@article.name} Image" if @article.cover_image.attached? %>
    </div>

    <div id="article-socials" class="socials">
      <%= link_to facebook_share(article_url(@article)), target: '_blank' do %>
        <%= fa_icon 'facebook-square' %>
      <% end %>
      <%= link_to twitter_share(article_url(@article),"#{@article.name} | ","#SYNTVX"), target: '_blank' do %>
        <%= fa_icon 'twitter-square' %>
      <% end %>
      <%= link_to linkedin_share(article_url(@article),@article.name,@article.description), target: '_blank' do %>
        <%= fa_icon 'linkedin-square' %>
      <% end %>
      <%= link_to reddit_share(article_url(@article),@article.name), target: '_blank' do %>
        <%= fa_icon 'reddit-square' %>
      <% end %>
    </div>

    <div id="article-body">
      <%= @article.body.html_safe %>
    </div>
  </div>
</div>
