<div id="cat-<%= category.id %>" class="admin-item">
  <div class="admin-item-info xl-col-3-4 lg-col-3-4 md-col-2-3 sm-col-1-2 xs-col-1-1">
    <%= link_to category.name.truncate(25), category_path(category) %>
  </div>

  <div class="admin-item-links xl-col-1-4 lg-col-1-4 md-col-1-3 sm-col-1-2 xs-col-1-1">
    <% unless category.deleted %>
      <%= link_to admins_edit_category_path(category), class: 'edit' do %>
        <%= fa_icon "pencil" %>
      <% end %>
      <%= link_to admins_category_info_path(category), class: 'info' do %>
        <%= fa_icon "info" %>
      <% end %>
      <%= link_to approve_category_path(category), class: "#{category.approval_check}", method: :put do %>
        <%= fa_icon "check" %>
      <% end %>
      <%= link_to feature_category_path(category), class: "#{category.featured_check}", method: :put do %>
        <%= fa_icon "star" %>
      <% end %>
      <%= link_to delete_category_path(category), class: "#{category.deletion_link}", method: :put do %>
        <%= fa_icon "times" %>
      <% end %>
    <% else %>
      <%= link_to delete_category_path(category), class: "#{category.deletion_link}", method: :put do %>
        <%= fa_icon "heart" %>
      <% end %>
      <%= link_to category, class: 'delete', method: :delete, data: { confirm: "Are you sure?" } do %>
        <%= fa_icon "trash" %>
      <% end %>
    <% end %>
  </div>
</div>
