<div id="admin-<%= controller_name %>-<%= action_name %>" class="admin-page">
  <%= render partial: 'admins/categories/search' %>
  <%= render @categories %>
  <%= will_paginate @categories %>
</div>
