<div id="<%= controller_name %>-<%= action_name %>">
  <div class="container">

    <div id="admin-login">
      <div class="container">
        <div class="admin-login-head col-1-1">
          <%= image_tag 'logo-100.png', alt: 'SYNTVX Logo' %>

          <h1>ADMIN <%= fa_icon 'user-secret' %></h1>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field col-1-1">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'E-mail' %>
          </div>

          <div class="field col-1-1">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
          </div>

          <div class="actions col-1-1">
            <%= f.submit('LOGIN', data: { "disable-with": "Logging in..." }) %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
