<%= form_with(model: tag, local: true, class: 'form') do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="field-label">
      <%= form.label :name %>
    </div>
    <div class="field-input">
      <%= form.text_field :name, placeholder: 'Tag Name' %>
    </div>
  </div>

  <% if action_name == 'edit' %>
    <div class="field">
      <div class="field-label">
        <%= form.label :slug %>
      </div>
      <div class="field-input">
        <%= form.text_field :slug, placeholder: 'Tag Slug' %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <div class="field-label">
      <%= form.label :description %>
    </div>
    <div class="field-input">
      <%= form.text_field :description, placeholder: 'Tag Description' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit('Submit', data: { "disable-with": "Saving..." }) %>
  </div>
<% end %>
