<div id="<%= controller_name %>-<%= action_name %>">

  <div id="directory-search" class="xl-col-1-5 lg-col-1-4 md-col-1-4 sm-col-1-1 xs-col-1-1">
    <div class="container">
      <%= form_tag(directory_path, method: :get) do %>
        <div class="directory-search-input">
          <%= text_field_tag :q, params[:q], placeholder: 'Search Directory...' %>
        </div>

        <div class="directory-search-filters">
          <%= link_to 'Languages', 'javascript:void(0)', onclick: 'toggleLanguages()' %>
          <%= fa_icon 'caret-left' %>
          <div id="languages" class="filter-dropdown">
            <% @languages.each do |language| %>
              <div class="filter-cell">
                <input type="checkbox" name="languages[]" value="<%= language.id %>" />
                <span><%= language.name %></span>
              </div>
            <% end %>
          </div>
        </div>

        <div class="directory-search-filters">
          <%= link_to 'Categories', 'javascript:void(0)', onclick: 'toggleCategories()' %>
          <%= fa_icon 'caret-left' %>
          <div id="categories" class="filter-dropdown">
            <% @categories.each do |category| %>
              <div class="filter-cell">
                <input type="checkbox" name="categories[]" value="<%= category.id %>" />
                <span><%= category.name %></span>
              </div>
            <% end %>
          </div>
        </div>

        <%= submit_tag('Filter') %>
      <% end %>
    </div>
  </div>

  <div id="directory-content" class="xl-col-4-5 lg-col-3-4 md-col-3-4 sm-col-1-1 xs-col-1-1">
    <div class="container">
      <%= render partial: 'tools/tool', collection: @tools, cached: true %>
    </div>
  </div>

</div>
