<div id="<%= controller_name %>-<%= action_name %>">
  <div class="container">

    <div id="particles">
      <div class="center">
        <h1>S Y N T V X</h1>
        <%= image_tag 'logo.png' %>
        <h2>Developer Resource Directory</h2>
      </div>
    </div>


    <%= link_to 'ARTICLES', blog_path, class: 'title' %>

    <%= render partial: 'articles/article', collection: @articles, cached: true %>

    <%= link_to 'RECENT', directory_path, class: 'title' %>

    <%= render partial: 'tools/tool', collection: @tools, cached: true %>

  </div>
</div>

<script>
  particles();
</script>
