<div id="admin-<%= controller_name %>-<%= action_name %>" class="admin-page">
  <div class="admin-head">
    <h1><%= controller_name.upcase %></h1>
    <div class="admin-head-options">
      <%= link_to 'NEW', new_language_path %>
    </div>
  </div>

  <%= render partial: 'admins/languages/search' %>

  <div class="admin-items">
    <%= render @languages %>
    <%= will_paginate @languages %>
  </div>
</div>
