<div id="admin-<%= controller_name %>-<%= action_name %>" class="admin-page">

  <div class="admin-head">
    <h1><%= controller_name.upcase %></h1>
    <div class="admin-head-options">
      <%= link_to 'EDIT', admins_edit_language_path(@language) %>
      <%= link_to 'BACK', admins_languages_path %>
    </div>
  </div>

  <div class="admin-info-item">
    <div class="container">
      <h2 class="head">Information</h2>
      <p><b>ID:</b> <%= @language.id %></p>
      <p><b>Name:</b> <%= @language.name %></p>
      <p><b>Slug:</b> <%= @language.slug %></p>
      <p><b>Description:</b> <%= @language.description %></p>
      <p><b>Approved:</b> <%= @language.approved %></p>
      <p><b>Featured:</b> <%= @language.featured %></p>
      <p><b>Deleted:</b> <%= @language.deleted %></p>
      <p><b>Created at:</b> <%= @language.created_time %> | <%= @language.created_date %></p>
      <p><b>Updated at:</b> <%= @language.updated_time %> | <%= @language.updated_date %></p>
    </div>
  </div>

  <% if @language.tools.any? %>
    <div class="admin-info-item">
      <div class="container">
        <h2 class="head">Tools</h2>
        <%= render partial: 'admins/languages/tool', collection: @language.tools, as: :tool %>
      </div>
    </div>
  <% end %>

</div>
