<div id="admin-nav">
  <%= link_to 'DASHBOARD', admins_path %>
  <%= link_to 'CATEGORIES', admins_categories_path %>
  <%= link_to 'LANGUAGES', admins_languages_path %>
  <%= link_to 'TAGS', admins_tags_path %>
  <%= link_to 'SETTINGS', admins_settings_path %>
</div>
