<div id="admin-nav" class="xl-col-1-4 lg-col-1-4 md-col-1-4 hide-on-sm hide-on-xs">
  <%= link_to 'DASHBOARD', admins_path %>
  <%= link_to 'ARTICLES', admins_articles_path %>
  <%= link_to 'TOOLS', admins_tools_path %>
  <%= link_to 'CATEGORIES', admins_categories_path %>
  <%= link_to 'LANGUAGES', admins_languages_path %>
  <%= link_to 'TAGS', admins_tags_path %>
  <%= link_to 'SETTINGS', admins_settings_path %>
</div>
