<div id="nav">
  <div class="general">
    <%= link_to root_path do %>
      <%= image_tag "http://assets.syntvx.com/logo/logo-100.png", alt: "SYNTVX Logo" %>
      <span class="hide-on-xl hide-on-lg hide-on-md hide-on-sm">S Y N T V X</span>
    <% end %>
    <%= link_to 'HOME', root_path, class: 'nav-link hide-on-xs' %>
    <%= link_to 'DIRECTORY', directory_path, class: 'nav-link hide-on-xs' %>
    <%= link_to 'BLOG', blog_path, class: 'nav-link hide-on-xs' %>
  </div>

  <% if current_admin %>
    <div class="admin hide-on-xs">
      <%= link_to admins_path do %>
        <%= fa_icon 'user-secret' %>
      <% end %>
    </div>
  <% else %>
    <div class="nav-socials hide-on-xs">
      <%= render partial: 'app/socials' %>
    </div>
  <% end %>

  <div id="sidenav-icon" onclick="toggleSidenav()" class="hide-on-xl hide-on-lg hide-on-md hide-on-sm">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</div>
