<div id="sidenav">
  <%= link_to 'javascript:void(0)', id: 'close-sidenav' do %>
    <%= fa_icon 'times' %>
  <% end %>
  <%= link_to 'HOME', root_path, class: 'nav-link' %>
  <%= link_to 'DIRECTORY', directory_path, class: 'nav-link' %>
  <%= link_to 'BLOG', blog_path, class: 'nav-link' %>
</div>
