<div id="admin-<%= controller_name %>-<%= action_name %>" class="admin-page">
  <div class="admin-head">
    <h1><%= controller_name.upcase %></h1>
    <div class="admin-head-options">
      <%= link_to 'NEW', admins_new_tag_path %>
    </div>
  </div>

  <%= render partial: 'admins/tags/search' %>

  <div class="admin-items">
    <%= render @tags %>
    <%= will_paginate @tags %>
  </div>
</div>
