<div id="admin-<%= controller_name %>-<%= action_name %>" class="admin-page">

  <div class="admin-head">
    <h1><%= controller_name.upcase %></h1>
    <div class="admin-head-options">
      <%= link_to 'EDIT', admins_edit_tag_path(@tag) %>
      <%= link_to 'BACK', admins_tags_path %>
    </div>
  </div>

  <div class="admin-info-item">
    <div class="container">
      <h2 class="head">Information</h2>
      <p><b>ID:</b> <%= @tag.id %></p>
      <p><b>Name:</b> <%= @tag.name %></p>
      <p><b>Slug:</b> <%= @tag.slug %></p>
      <p><b>Description:</b> <%= @tag.description %></p>
      <p><b>Approved:</b> <%= @tag.approved %></p>
      <p><b>Featured:</b> <%= @tag.featured %></p>
      <p><b>Deleted:</b> <%= @tag.deleted %></p>
      <p><b>Created at:</b> <%= @tag.created_time %> | <%= @tag.created_date %></p>
      <p><b>Updated at:</b> <%= @tag.updated_time %> | <%= @tag.updated_date %></p>
    </div>
  </div>

  <% if @tag.articles.any? %>
    <div class="admin-info-item">
      <div class="container">
        <h2 class="head">Articles</h2>
        <%= render partial: 'admins/tags/article', collection: @tag.articles, as: :article %>
      </div>
    </div>
  <% end %>

</div>
