<div id="admin-<%= controller_name %>-<%= action_name %>" class="admin-page">

  <div class="admin-head">
    <h1><%= controller_name.upcase %></h1>
    <div class="admin-head-options">
      <%= link_to 'BACK', admins_tags_path %>
    </div>
  </div>

  <div class="admin-info-item">
    <div class="container">
      <h2 class="head">Information</h2>
      <p><b>ID:</b> <%= @tag.id %></p>
      <p><b>Name:</b> <%= @tag.name %></p>
      <p><b>Slug:</b> <%= @tag.slug %></p>
      <p><b>Description:</b> <%= @tag.description %></p>
      <p><b>Approved:</b> <%= @tag.approved %></p>
      <p><b>Featured:</b> <%= @tag.featured %></p>
      <p><b>Deleted:</b> <%= @tag.deleted %></p>
      <p><b>Created at:</b> <%= @tag.created_time %> | <%= @tag.created_date %></p>
      <p><b>Updated at:</b> <%= @tag.updated_time %> | <%= @tag.updated_date %></p>
    </div>
  </div>

  <% if @tag.articles.any? %>
    <div class="admin-info-item">
      <div class="container">
        <h2 class="head">Articles</h2>
        <% @tag.articles.each do |article| %>
          <div class="admin-info-item-association">
            <span><b>ID</b>: <%= article.id %></span>
            <span><b>Name</b>: <%= link_to article.name, admins_article_info_path(article) %></span>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
