<div id="admin-<%= controller_name %>-<%= action_name %>" class="admin-page">

  <div class="admin-head">
    <h1>DASHBOARD</h1>
    <div class="admin-head-options">
      <%= link_to 'ACCOUNT', edit_admin_registration_path %>
      <%= link_to 'LOGOUT', destroy_admin_session_path, method: :delete %>
    </div>
  </div>

  <div class="dashboard-panel">
    <p>Articles</p>
    <div class="dashboard-panel-options">
      <%= link_to admins_articles_path, class: 'list' do %>
        LIST
      <% end %>
      <%= link_to admins_new_article_path, class: 'new' do %>
        NEW
      <% end %>
    </div>
  </div>

  <div class="dashboard-panel">
    <p>Tools</p>
    <div class="dashboard-panel-options">
      <%= link_to admins_tools_path, class: 'list' do %>
        LIST
      <% end %>
      <%= link_to admins_new_tool_path, class: 'new' do %>
        NEW
      <% end %>
    </div>
  </div>

  <div class="dashboard-panel">
    <p>Languages</p>
    <div class="dashboard-panel-options">
      <%= link_to admins_languages_path, class: 'list' do %>
        LIST
      <% end %>
      <%= link_to admins_new_language_path, class: 'new' do %>
        NEW
      <% end %>
    </div>
  </div>

  <div class="dashboard-panel">
    <p>Categories</p>
    <div class="dashboard-panel-options">
      <%= link_to admins_categories_path, class: 'list' do %>
        LIST
      <% end %>
      <%= link_to admins_new_category_path, class: 'new' do %>
        NEW
      <% end %>
    </div>
  </div>

  <div class="dashboard-panel">
    <p>Tags</p>
    <div class="dashboard-panel-options">
      <%= link_to admins_tags_path, class: 'list' do %>
        LIST
      <% end %>
      <%= link_to admins_new_tag_path, class: 'new' do %>
        NEW
      <% end %>
    </div>
  </div>

</div>
