<div id="admin-<%= controller_name %>-<%= action_name %>" class="admin-page">

  <div class="admin-head">
    <h1>Settings</h1>
  </div>

  <div class="admin-panel">
    <h2>Cache</h2>

    <div class="admin-panel-options">
      <%= link_to 'Cache Clear', admins_cache_clear_path %>
      <%= link_to 'Explicit Cache Clear', admins_explicit_cache_clear_path %>
    </div>
  </div>

  <div class="admin-panel">
    <h2>Trash</h2>
    <div class="admin-panel-options">
      <%= link_to 'Trash', admins_trash_path %>
    </div>
  </div>

  <div class="admin-panel">
    <h2>API Keys</h2>
  </div>

  <div class="admin-panel-form">
    <%= form_tag(admins_api_key_path, method: :post) do %>
      <%= text_field_tag :name %>
      <%= submit_tag 'Create' %>
    <% end %>
  </div>

  <% @api_keys.each do |key| %>
    <div class="api-key">
      <p><%= key.name %></p>
      <span class="key"><%= key.token %></span>
      <%= link_to 'DELETE', admins_destroy_api_key_path(key), method: :delete %>
    </div>
  <% end %>
</div>
