<div id="admin-<%= controller_name %>-<%= action_name %>" class="admin-page">

  <div class="admin-head">
    <h1><%= controller_name.upcase %></h1>
    <div class="admin-head-options">
      <%= link_to 'NEW', admins_new_article_path %>
    </div>
  </div>

  <%= render partial: 'admins/articles/search' %>

  <div class="admin-items">
    <%= render @articles %>
    <%= will_paginate @articles %>
  </div>

</div>
