<div id="admin-<%= controller_name %>-<%= action_name %>" class="admin-page">

  <div class="admin-head">
    <h1><%= controller_name.upcase %></h1>
    <div class="admin-head-options">
      <%= link_to 'BACK', admins_articles_path %>
    </div>
  </div>

  <div class="admin-info-item">
    <div class="container">
      <h2 class="head">Information</h2>
      <%= image_tag @article.cover_image if @article.cover_image.attached? %>
      <p><b>ID:</b> <%= @article.id %></p>
      <p><b>Name:</b> <%= @article.name %></p>
      <p><b>Slug:</b> <%= @article.slug %></p>
      <p><b>Description:</b> <%= @article.description %></p>
      <p><b>Published:</b> <%= @article.published %></p>
      <p><b>Published at:</b> <%= @article.published_time %> | <%= @article.published_date %></p>
      <p><b>Featured:</b> <%= @article.featured %></p>
      <p><b>Deleted:</b> <%= @article.deleted %></p>
      <p><b>Created at:</b> <%= @article.created_time %> | <%= @article.created_date %></p>
      <p><b>Updated at:</b> <%= @article.updated_time %> | <%= @article.updated_date %></p>
    </div>
  </div>

  <% if @article.tags.any? %>
    <div class="admin-info-item">
      <div class="container">
        <h2 class="head">Tags</h2>
        <% @article.tags.each do |tag| %>
          <div class="admin-info-item-association">
            <span><b>ID</b>: <%= tag.id %></span>
            <span><b>Name</b>: <%= link_to tag.name, admins_tag_info_path(tag) %></span>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="admin-info-item">
    <div class="container">
      <h2 class="head">Body</h2>
      <%= @article.body.html_safe %>
    </div>
  </div>

</div>
