<!DOCTYPE html>
<html>
  <%= render partial: 'app/head' %>

  <body id="app" class="admin">
    <%= render partial: 'app/nav' %>

    <%= render partial: 'app/notification' %>

    <div id="content">
      <%= render partial: 'app/admin_nav' %>

      <div id="admin-render">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
