<!DOCTYPE html>
<html>
  <%= render partial: 'app/admin_head' %>

  <body id="app" class="admin">
    <%= render partial: 'app/nav' %>

    <%= render partial: 'app/sidenav' %>

    <%= render partial: 'app/notification' %>

    <div id="content">
      <%= render partial: 'app/admin_nav' %>

      <div id="admin-render" class="xl-col-3-4 lg-col-3-4 md-col-3-4 sm-col-1-1 xs-col-1-1">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render partial: 'app/footer' %>
  </body>
</html>
