<!DOCTYPE html>
<html>
  <%= render partial: 'app/head' %>

  <body id="app" class="admin">
    <%= render partial: 'app/nav' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render partial: 'app/admin_nav' %>

    <div id="content">
      <%= yield %>
    </div>

  </body>
</html>
