<!DOCTYPE html>
<html>
  <%= render partial: 'app/head' %>

  <body id="app">
    <%= render partial: 'app/nav' %>

    <%= render partial: 'app/sidenav' %>

    <%= render partial: 'app/notification' %>

    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
