<!DOCTYPE html>
<html>
  <%= render partial: 'app/head' %>

  <body id="app">
    <%= render partial: 'app/nav' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
